@import './colores';

.mat-toolbar {
    background: $background-toolbar;
    padding: 15px;
    border-radius: 10px;
    line-height: 0;
    height: 90%;

    .row {
        width: 100%;
    }

    p {
        font-weight: 600;
    }
}

.separate {
    height: 100%;
    margin-top: 250px;
}